<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="canonical" href="https://www.vogelbirb.com/" />
  <script async src="/js/script.js"></script>
  <script>
    window.plausible = window.plausible || function () {(plausible.q = plausible.q || []).push(arguments)}, plausible.init = plausible.init || function (i) {plausible.o = i || {}};
    plausible.init({
      endpoint: "/api/event"
    })
  </script>
  <link rel="stylesheet" href="/style.css">
  <meta name="color-scheme" content="dark light">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <main class="section">
    <div class="container">
			<h1 class="title">{% block header %}{% endblock header %}<img width="30" src="/images/bird_720x.webp"
				alt="vogelbirb's profile picture: a bird, specifically a green-cheeked conure, with a forest background" />
		</h1>
		{% block content %} {% endblock content %}
    </div>
  </main>
  <hr />
  <footer>
    <div class="footer-88x31">
      <a rel="external noreferrer" target="_blank " href="https://ubuntu.com">
        <img src="/images/88x31/ubuntu-88x31.gif" alt="This site runs on Ubuntu" title="This site runs on Ubuntu" height="31"
          width="88" />
      </a>
      <a rel="external noreferrer" target="_blank" href="https://www.firefox.com">
        <img src="/images/88x31/firefoxnow.gif" alt="Firefox Now" height="31" width="88" />
      </a>
      <a rel="external noreferrer" target="_blank" href="https://internet.nl/faqs/ipv6/">
        <img src="/images/88x31/ipv6.png" alt="This site supports IPv6" title="This site supports IPv6">
      </a>
      <a rel="external noreferrer" target="_blank" href="https://grapheneos.org">
        <img src="/images/88x31/grapheneos.gif" alt="Graphene OS" height="31" width="88" />
      </a>
      <a rel="external noreferrer" target="_blank" href="https://neovim.io">
        <img src="/images/88x31/neovim.gif" alt="Neovim" height="31" width="88" />
      </a>
    </div>
    <div>
      This work is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a><img
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt=""
        style="max-width: 1em;max-height:1em;margin-left: .2em;"><img
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt=""
        style="max-width: 1em;max-height:1em;margin-left: .2em;"><img
        src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt=""
        style="max-width: 1em;max-height:1em;margin-left: .2em;">
    </div>
    <nav class="footer-nav">
      <a href="/">Home</a>
      <a href="https://github.com/vogelbirb">GitHub</a>
      <a href="mailto:contact@vogelbirb.com">Contact</a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXc">Funny Bird Videos</a>
      <a href="https://github.com/vogelbirb/vogelbirb-homepage">Source Code</a>
      <a href="https://status.vogelbirb.com">Status</a>
    </nav>
  </footer>
</body>

</html>
